footer.footer.bg-blue.angle
	.container
		.row.text-center
			.col-sm-12
				img(src="/img/logo/logo-blue.png" style="max-width:200px;")
				h6.color-white © 2018 GRIZZLY FEST • ALL RIGHTS RESERVED • DESIGNED BY #[a(href="http://www.4cc.co/" target="_blank") 4CC.CO]
