footer.footer.bg-blue.angle
	.container
		.row.text-center
			.col-sm-12
				a.inline-block(href="/")
					img(src="/img/logo/logo-blue.png" style="max-width:200px;")
				ul.footer-social-icons
					li.facebook
						a(href="https://www.facebook.com/grizzlyfest/" target="_blank")
							i.fa.fa-facebook
					li.instagram
						a(href="https://www.instagram.com/grizzly_fest/" target="_blank")
							i.fa.fa-instagram
				h6.color-white © 2018 GRIZZLY FEST • ALL RIGHTS RESERVED • DESIGNED BY #[a(href="http://www.4cc.co/" target="_blank") 4CC.CO]
