footer.footer.bg-blue
	.container-fluid
		.row.text-center.ticket-bar.bg-pink
			a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
				button.ga-tickets 1-Day GA Tickets

			img(src="/img/logo/large_icon.png")

			a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
				button.vip-tickets VIP Tickets

		.row.text-center.subscribe-bar.bg-blue
			.row.text-center.subscribe-bar-content
				.col-sm-12.col-md-4
					.text-center
						p 1-Day Tickets On Sale Now!
						a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
							button.tickets-button Tickets






				//- a.inline-block(href="/")
				//- 	img(src="/img/logo/logo-blue.png" style="max-width:200px;")
				//- ul.footer-social-icons
				//- 	li.facebook
				//- 		a(href="https://www.facebook.com/grizzlyfest/" target="_blank")
				//- 			i.fa.fa-facebook
				//- 	li.instagram
				//- 		a(href="https://www.instagram.com/grizzly_fest/" target="_blank")
				//- 			i.fa.fa-instagram
				//- 	li.instagram
				//- 		a(href="https://open.spotify.com/playlist/6JpH5ZCIHuqYOJsgDdJ0VM?fbclid=IwAR0lz3hc86lWgaGcMeaaU1xaveHVaWpTxz1EvCtbc5v5sVRLIgW166wHgI0" target="_blank")
				//- 			i.fa.fa-spotify
				//- h6.color-white © 2018 GRIZZLY FEST • ALL RIGHTS RESERVED
