#menu-overlay-toggle.custom-toggled-class(data-toggle-class='#menu-overlay-toggle,#menu1,body;custom-toggled-class')
header
	.nav-container(style="height:100%;")
		.visible-sm.visible-xs(style="height:100%;")
			.container(style="height:100%;")
				.row(style="height:100%;")
					.float-left(style="height:100%;")
						a.logo.logo-mobile(href='/')
							img.logo(alt='logo', src='/img/logo/logo-blue.png')

					.float-right.col-xs-9.col-sm-10.text-right(style="height:100%;line-height:45px")
						a.hamburger-toggle.toggle-custom(href='#', data-toggle-class='#menu-overlay-toggle,#menu1,body;custom-toggled-class')
							.hamburg
								span

		nav#menu1.custom-toggled-class
			.closeX.visible-sm.visible-xs(data-toggle-class='#menu-overlay-toggle,#menu1,body;custom-toggled-class')
				i.fa.fa-times-thin
			.container
				a(href='/').float-left.hidden-sm.hidden-xs.logo
					img.logo(alt='logo', src='/img/logo/logo-blue.png')
				#mega-menu.row
					.col-sm-12.col-xs-12.text-right.text-right-xs.float-right.float-right-sm
						.bar__module
							ul.menu-horizontal.text-left.text-right-xs
								li
									a(href="https://www.festivalticketing.com/cart/74D1661F-E0BF-4260-AD4C-5A1D2FF4FFAC/tickets/1127" target="_blank") Tickets
								li.dropdown
									span.dropdown__trigger Festival Info
									.dropdown__container.megamenu
										.dropdown__content.dropdown__content--lg
											ul.menu-vertical
												li
													a(href='/sponsors') Sponsors
												li
													a(href='/info#festivalhours') Festival Hours
												li
													a(href='/info#cashless') Wristbands & Cashless
												li
													a(href='/info#support') Ticket Support
												li
													a(href='/info#dontbring') What NOT to bring
												li
													a(href='/info#safety') Health & Safety
												li
													a(href='/info#facilities') Facilities
												li
													a(href='/info#disabilities') Patrons with Disabilities
												li
													a(href='/info#faqs') FAQs
												li
													a(href='/info#contact') Contact
								li.dropdown
									span.dropdown__trigger Get Involved
									.dropdown__container.megamenu
										.dropdown__content.dropdown__content--lg
											ul.menu-vertical
												li
												a(href='/getinvolved#involvement') Community Involvement
												li
													a(href='/getinvolved#vendors') Vendors
								li.dropdown
									span.dropdown__trigger Trip Planning
									.dropdown__container.megamenu
										.dropdown__content.dropdown__content--lg
											ul.menu-vertical
												li
													a(href='/gettingthere') Travel
												li
													a(href='/hotels') Hotels
								//-li
									a(href="#") Shop
