extends /layout

block content
	section.imagebg.parallax.pink.height-50.hero(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-header.jpg")
	section.angle.imagebg.purple.heavy(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img7.jpg")
		.container
			.row.text-center
				.col-sm-12
					h2 ACTIVATE
					.separator
			.row.text-center
				.col-sm-12
					iframe(src='https://dashboard.gingerbreadshed.com/pulse/register/grizzlyfest', height='500px;', width='350px' style="padding:25px;")
