extends /layout

block content
	section.imagebg.parallax.pink.height-50.hero(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-header.jpg")
	section.angle.imagebg.purple.heavy(data-overlay)
		.background-image-holder
			img(src="/img/bg/home-img7.jpg")
		.container
			.row.text-center
				.col-sm-12
					h2 ACTIVATE
					.separator
			.row
				.col-sm-12
					p.
						Registration coming soon
