extends layout

block content
	//-p= JSON.stringify(contentful.artists)
	section#first-section.imagebg.parallax(data-overlay)
		//- .background-image-holder
		//- 	img(src="/img/bg/home-header2.jpg")
		<div class="videoBackground"><video playsinline autoplay muted loop poster=""><source src="https://player.vimeo.com/external/314026233.sd.mp4?s=0ffb36cef7885d2f1bf9b1b0fc48fa83b39b2f68&profile_id=165" type="video/mp4"></video></div>
		.container
			.row.text-center
				.col-sm-12
					img#big-logo(src="/img/logo/grizzlyfest_main_logo.png")
					div.social_media_icons_container
						ul.social_media_icons
							li.facebook
								a(href="https://www.facebook.com/grizzlyfest/" target="_blank")
									i.fa.fa-facebook
							li.instagram
								a(href="https://www.instagram.com/grizzly_fest/" target="_blank")
									i.fa.fa-instagram
							li.spotify
								a(href="https://open.spotify.com/playlist/6JpH5ZCIHuqYOJsgDdJ0VM?fbclid=IwAR0lz3hc86lWgaGcMeaaU1xaveHVaWpTxz1EvCtbc5v5sVRLIgW166wHgI0" target="_blank")
									i.fa.fa-spotify
							li.envelope
								a(href="https://open.spotify.com/playlist/6JpH5ZCIHuqYOJsgDdJ0VM?fbclid=IwAR0lz3hc86lWgaGcMeaaU1xaveHVaWpTxz1EvCtbc5v5sVRLIgW166wHgI0" target="_blank")
									i.fa.fa-envelope-o
					<a target="_blank" href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" class="btn rouge angle"><span class="btn__text">Get Tickets</span></a>
			.row.text-center

	section.container.ticket-packages-container
		.row.text-center
			a(href="#img1").col-xs-12.col-sm-6.col-md-6.current-ticket-promotion
				h1.amenities-block-title 2019 Announce Video
				//- <iframe src="https://player.vimeo.com/video/313943506?loop=1&title=0&byline=0&portrait=0" style="display:block;margin:0 auto;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>

			//- popup box for video hidden with CSS
			a(href="#_")#img1.popupBox
			#videoModal.modal.hide.fade.in(tabindex="-1" role="dialog" aria-labelledby="videoModalLabel" aria-hidden="false" style="display:block;")
				.model-header
					button(data-dismiss="modal" aria-hidden="true").close.full-height X
					h3 Announcement 2019
				.modal-body
					<iframe src="https://player.vimeo.com/video/313943506?loop=1&title=0&byline=0&portrait=0" style="display:block;margin:0 auto;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>
				.modal-footer


			.col-xs-12.col-sm-6.col-md-6.see-all-ticket-packages
				h1	See All Ticket Packages
				p	Sub Text Here
				a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
					button Tickets
				

	section.imagebg(style="background-color:white;")(data-overlay)
		#artists.container.masonry
			.row.text-center
				.col-sm-12
					.row.text-center
				.col-sm-12.mt--1(style="padding:5px;")
					a(href="/img/bg/bg_poster2.png" data-lightbox="true")
						img(src="/img/bg/bg_poster2.png")
					a.btn.rouge.angle.poster-tickets-button(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068")
						.btn__text.color-maroon Tickets

	section.amenities.text-center
		.container
			.row.top-row-amenities
				a(href="/artists").col-xs-12.col-sm-6.col-md-6.artists
					h1.amenities-block-title Artists
				.col-xs-12.col-sm-6.col-md-6.music-player
					<iframe src="https://open.spotify.com/embed/user/grizzlyfest/playlist/6JpH5ZCIHuqYOJsgDdJ0VM" width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
			.row.bottom-row-amenities
				a(href="https://www.instagram.com/grizzly_fest/" target="_blank").col-xs-12.col-sm-4.col-md-4.food-drink
					h1.amenities-block-title Instagram
				a(href="/vipExperiences").col-xs-12.col-sm-4.col-md-4.vip-exp
					h1.amenities-block-title Vip Experiences
				.col-xs-12.col-sm-4.col-md-4.shop-block
					h1.amenities-block-title 2018 Highlights
					//- <iframe src="https://player.vimeo.com/video/313948500?loop=1&color=03c9ae&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>