extends layout

block content
	//-p= JSON.stringify(contentful.artists)
	section#first-section.imagebg.parallax(data-overlay)
		//- .background-image-holder
		//- 	img(src="/img/bg/home-header2.jpg")
		<div class="videoBackground"><video playsinline autoplay muted loop poster=""><source src="https://player.vimeo.com/external/314026233.sd.mp4?s=0ffb36cef7885d2f1bf9b1b0fc48fa83b39b2f68&profile_id=165" type="video/mp4"></video></div>
		.container
			.row.text-center
				.col-sm-12
					img#big-logo(src="/img/logo/grizzlyfest_main_logo.png")
					div.social_media_icons_container
						ul.social_media_icons
							li.facebook
								a(href="https://www.facebook.com/grizzlyfest/" target="_blank")
									i.fa.fa-facebook
							li.instagram
								a(href="https://www.instagram.com/grizzly_fest/" target="_blank")
									i.fa.fa-instagram
							li.instagram
								a(href="https://open.spotify.com/playlist/6JpH5ZCIHuqYOJsgDdJ0VM?fbclid=IwAR0lz3hc86lWgaGcMeaaU1xaveHVaWpTxz1EvCtbc5v5sVRLIgW166wHgI0" target="_blank")
									i.fa.fa-spotify
							li.envelope
								a(href="https://open.spotify.com/playlist/6JpH5ZCIHuqYOJsgDdJ0VM?fbclid=IwAR0lz3hc86lWgaGcMeaaU1xaveHVaWpTxz1EvCtbc5v5sVRLIgW166wHgI0" target="_blank")
									i.fa.fa-envelope-o
					<a target="_blank" href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" class="btn rouge angle"><span class="btn__text">Get Tickets</span></a>
			.row.text-center

	section.container.ticket-packages-container
		.row.text-center
			.col-xs-12.col-sm-6.col-md-6.current-ticket-promotion
				h1	Current Ticket Promotion
				p	Sub Text Here
				a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
					button Tickets
			.col-xs-12.col-sm-6.col-md-6.see-all-ticket-packages
				h1	See All Ticket Packages
				p	Sub Text Here
				a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
					button Tickets
			.col-xs-12.vimeo-video
				<iframe src="https://player.vimeo.com/video/313943506?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe><script src="https://player.vimeo.com/api/player.js"></script>

	section.imagebg(data-overlay)
		.background-image-holder
			img(src="/img/bg/bgstars.jpg")
		//- #artists.container.masonry
		//- 		.row.text-center
		//- 			.col-sm-12
		//- 				h2 THE LINEUP
		//- 				.separator
		//- 				.row.text-center
							
		//- 					.row.text-center

	
		#artists.container.masonry
			.row.text-center
				.col-sm-12

					.row.text-center
				.col-sm-12.mt--1
					a(href="/img/bg/bg_poster.png" data-lightbox="true")
						img(src="/img/bg/bg_poster.png")
				.col-sm-12.mt--1
					a.btn.rouge.angle(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068")
						.btn__text.color-maroon Tickets
	//-section.angle.imagebg.blue.heavy(data-overlay)
	//- section.imagebg.maroon.heavy(data-overlay)
	//- 	.background-image-holder
	//- 		img(src="/img/bg/cwbg.jpg")
	//- 	#artists.container.masonry
	//- 		.row.text-center
	//- 			.col-sm-12
					//- h2 2018 Highlights
					//- 	.separator
					//- 	.row.text-center
					//- 	<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/313948500?loop=1&color=03c9ae&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>

		

