doctype html
html(xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#")

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='author', content= "JJ Fry - http://4cc.co")
		meta(name="viewport" content="width=device-width, initial-scale=1")

		//- title, description and favicon
		title= 'Grizzly Fest'
		meta(name='description', content='Hibernation Ends May 4th')
		link(rel="icon" href="/img/logo/favicon.png")

		//- load jquery first
		script(src="/customjs/01jquery-3.1.1.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
		//- load google font
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet")
		//- run some logic to give the body tag a class of either: 1. the page name or 2. if the page is generated, get the content type (artist, sponsor, etc)
		- var pageClass = /((?!\/)\w+(?=\.))/.exec(_path) == null ? '' : /((?!\/)\w+(?=\.))/.exec(_path)
		- if(pageClass[0] === undefined && entry != null & entry.sys.contentType.sys.id != undefined){pageClass = entry.sys.contentType.sys.id}
		- else{pageClass = pageClass[0]}
		- console.log('loading a page type: ' + pageClass)
		script.
			var pageClass = '#{pageClass}'
		block head
		!= css("/")


	//-- console.log(pageClass)
	body.dropdowns--hover(class="#{pageClass}")
		include /partials/_header
		.content
			block content
		include /partials/_footer
		!= js("/")
		//-
			Start of Orbit Interactive Tag: Please do not remove
			Activity name of this tag: Grizzly Festival Retargeting Code
			Creation Date: 02/02/2018
		script(type='text/javascript').
			var axel = Math.random() + "";
			var a = axel * 10000000000000;
			document.write('<iframe src="https://8360066.fls.doubleclick.net/activityi;src=8360066;type=invmedia;cat=wopwcst8;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
		noscript
			iframe(src='https://8360066.fls.doubleclick.net/activityi;src=8360066;type=invmedia;cat=wopwcst8;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?', width='1', height='1', frameborder='0', style='display:none')
		//- End of Orbit Interactive Tag: Please do not remove

		//-Google Analytics
		script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-106330513-7')
		script.
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', 'UA-106330513-7');
