extends layout

block content
  section
    .container
      .row.player
        .col-xs-12
          <iframe src="https://open.spotify.com/embed/user/grizzlyfest/playlist/6JpH5ZCIHuqYOJsgDdJ0VM" width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media" style="height:1090px;margin-top:5%;"></iframe>