extends layout

block content
	//-p= JSON.stringify(contentful.artists)
	section#first-section.imagebg.parallax(data-overlay)
		//- .background-image-holder
		//- 	img(src="/img/bg/home-header2.jpg")
		<div class="videoBackground"><video playsinline autoplay muted loop poster=""><source src="https://player.vimeo.com/external/314026233.sd.mp4?s=0ffb36cef7885d2f1bf9b1b0fc48fa83b39b2f68&profile_id=165" type="video/mp4"></video></div>
		.container
			.row.text-center
				.col-sm-12
					img#big-logo(src="/img/logo/logo-blue.png")
					h2 MAY 4TH & 5TH
					<a target="_blank" href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" class="btn rouge angle"><span class="btn__text color-white">Get Early Bird Tickets</span></a>
			
	section.imagebg.blue.heavy(data-overlay)
		.row.text-center
			.col-sm-12
				h4 $65 EARLY BIRD TICKETS
					h5 Limited Availability! Get yours now!
			
								
	section.imagebg(data-overlay)
		.background-image-holder
			img(src="/img/bg/bgstars.jpg")
		#artists.container.masonry
				.row.text-center
					.col-sm-12
						h2 THE LINEUP
						.separator
						.row.text-center
							
							.row.text-center
						.col-sm-12.mt--1
							<div style="padding:42.19% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/313943506?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
	

					.row.text-center
				.col-sm-12.mt--1
					a(href="/img/bg/bg_poster.png" data-lightbox="true")
						img(src="/img/bg/bg_poster.png")
				.col-sm-12.mt--1
					a.btn.rouge.angle(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068")
						.btn__text.color-maroon Get Early Bird Tickets
	//-section.angle.imagebg.blue.heavy(data-overlay)
	section.imagebg.maroon.heavy(data-overlay)
		.background-image-holder
			img(src="/img/bg/cwbg.jpg")
		#artists.container.masonry
			.row.text-center
				.col-sm-12
					h2 2018 Highlights
						.separator
						.row.text-center
						<div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/313948500?loop=1&color=03c9ae&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>


			
