extends layout

block content
  section.imagebg.parallax.pink.height-50.hero(data-overlay)
		.background-image-holder
			img(src="/img/bg/panorama-header.jpg")
  section.vipExp-container
    .row.platinum
      .col-xs-12.col-sm-6.col-md-6.platinum-vip-img
        <iframe src="https://player.vimeo.com/video/322353278?title=0&byline=0&portrait=0" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      .col-xs-12.col-sm-6.col-md-6.platinum-vip-package
        h1 Platinum Grizzly VIP
        p Our Platinum Grizzly VIP Suite guests enjoy everything that the General Admission and the Grizzly Gold VIP pass provides in addition to:
        ul
          li Access to the Platinum Grizzly VIP Suite - An exclusive, elevated viewing suite with unparalleled views of the main stage.
          li VIP Shaded areas on the Sky Deck located in VIP area.
          li All-inclusive beer, cocktails and wine at the Suite Bar.
          li VIP seating to enjoy your favorite musicians without havivng to leave the Suites.
          li Customized RFID bracelet that allows for re-entry to the festival and VIP areas.
          a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
            button Tickets
    .row.gold
      .col-xs-12.col-sm-6.col-md-6.gold-vip-img      
      .col-xs-12.col-sm-6.col-md-6.gold-vip-package
        h1 Grizzly Gold VIP
        p Part of being VIP at Grizzly Fest you will experience everything the General Admission pass provides in addition to:
        ul
          li Access to the VIP area, featuring premium bars, shade area, upgraded VIP-only restrooms and the VIP experience - all located adjacent to the main stage.
          li Prime VIP viewing areas.
          li Exclusive Fast Lane festival entrace.
          a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
            button Tickets
    .row.general
      .col-xs-12.col-sm-6.col-md-6.general-admission-img
      .col-xs-12.col-sm-6.col-md-6.general-admission-package
        h1 General Admission
        p Full Access to multiple Stages with Local, National and Global Talent:
        ul
          li Full Access to DJ Silent Disco
          li Full Access to Vendor Village Marketplace
          li Full Access to Gourmet Foods from Central California's top Chefs
          li Food Trucks and Restauranteurs
          li Full Access to Wine, Beer, and Speciality Cocktails
          li Full Access to Ferris Wheel
          li Full Access to Multiple Art Exhibits
          a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
            button Tickets
          
