extends layout

block content
  section.vipExp-container
    section.container.ticket-packages-container
      .row.text-center
        .col-xs-12.col-sm-6.col-md-6.current-ticket-promotion
          h1	Current Ticket Promotion
          p	Sub Text Here
          a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
            button Tickets
        .col-xs-12.col-sm-6.col-md-6.see-all-ticket-packages
          h1	See All Ticket Packages
          p	Sub Text Here
          a(href="https://www.festivalticketing.com/cart/4E619283-F903-4A5F-8C59-028BAC65B534/tickets/2068" target="_blank")
            button Tickets
      .row.platinum
        .col-xs-12.col-sm-6.col-md-6.platinum-vip-img
        .col-xs-12.col-sm-6.col-md-6.platinum-vip-package
      .row.gold
        .col-xs-12.col-sm-6.col-md-6.gold-vip-package
        .col-xs-12.col-sm-6.col-md-6.gold-vip-img
      .row.general
        .col-xs-12.col-sm-6.col-md-6.general-admission-img
        .col-xs-12.col-sm-6.col-md-6.general-admission-package