// ---------------
// Axis Settings
// Check here for updates:
// https://github.com/jenius/axis/blob/master/axis/settings.styl
// ---------------

// Font stacks (add your own!)
$helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
$helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
$georgia = Georgia, Cambria, "Times New Roman", Times, serif
$lucidia-grande = "Lucida Grande", Tahoma, Verdana, Arial, sans-serif
$monospace = unquote("'Bitstream Vera Sans Mono', Consolas, Courier, monospace")
$verdana = Verdana, Geneva, sans-serif

// Default font settings
$roboto = 'Roboto', sans-serif

$defaultFont = $roboto

$headerHeight = 120px

// Colors (via http://clrs.cc - slightly modded)
$blue                = rgb(56, 110, 181)             //#386EB5
$bluet5              = rgba(56, 110, 181,0.5)        //#386EB5
$lightblue           = rgb(67, 198, 233)             //#43c6e9
$pink                = rgb(242, 209, 226)            //#f2d1e2
$maroon              = rgb(84, 48, 72)               //#543048
$pruple              = rgb(124, 114, 174)            //#7c72ae
$black               = rgb(0, 0, 0)                  //#000000
$white               = rgb(255, 255, 255)            //#ffffff
$textDefault         = #252525
