@import 'zx_settings'

// normalize-css()
// base()

html
	overflow-x hidden

body
	.content,footer
		position relative
	.content,header,footer
		right 0
		transition 0.5s
	&.custom-toggled-class
		.content,header,footer
			right 80vw
			transition 0.5s
	.content
		section.hero
			min-height 300px

p,a,li,span,h1,h2,h3,h4,h5,h6,input,textarea
	font-family $defaultFont
h1,h2,h3,h4,h5,h6,p,span
	margin-bottom 25px
h2
	font-family $shen
	font-size 50px
	line-height 78px
	font-weight 900
	color $white
	@media(max-width:992px)
		font-size 55px
	@media(max-width:767px)
		font-size 35px
		line-height 55px
h3
	font-size 50px
	line-height 62px
	font-weight 900
	@media(max-width:992px)
		font-size 40px
	@media(max-width:767px)
		font-size 30px
		line-height 40px
h4
	font-size 42px
	line-height 56px
	font-weight 900
h5
	font-size 32px
	line-height 46px
	font-weight 900
p, .md ul li
	font-size 18px
.md
	ul
		padding-left 22px
		li
			list-style-type disc
			margin 15px 0
	p
		line-height 28px
		strong
			color inherit
			font-weight 700
			text-decoration underline
.subHeadRow:not(:first-child)
	margin-top 60px

	h1,h2,h3,h4,h5,h6,p,span
		&>a
			color inherit !important
			font-weight inherit
			font-size inherit
			font-family inherit

.imagebg
	.background-image-holder
		background-position center center
.bg-pink
	background-color $pink
	&.bg-t5
		background-color $pinkt5
.bg-blue
	background-color $blue
	&.bg-t5
		background-color $bluet5
.bg-maroon
	background-color $maroon
	&.bg-t5
		background-color $maroont5
.bg-purple
	background-color $purple
	&.bg-t5
		background-color $purplet5
.bg-ct > .background-image-holder
	background-position center top
.bg-cb > .background-image-holder
	background-position center bottom
.bg-cc > .background-image-holder
	background-position center center

.color-pink
	color $pink
.color-blue
	color $blue
.color-maroon
	color $maroon
.color-purple
	color $purple
.color-lightblue
	color $lightblue
.color-white
	color $white
.color-gray
	color $gray
.color-black
	color $black

.btn
	border none
	border-radius 0px
	&.maroon
		background-color $maroon
	&.blue
		background-color $blue
	&.lightblue
		background-color $lightblue
	&.pink
		background-color $pink
	&.purple
		background-color $purple
	&.white
		background-color $white
	&.rouge
			background-color $white
	.btn__text
		font-weight 100
		font-size 18px
		text-transform uppercase
		font-family BebasNeue
		letter-spacing 2px

[data-overlay]
	&::before
		opacity 0.5
	&.heavy::before
		opacity 0.9
	&.pink::before
		background $pink
	&.blue::before
		background $blue
	&.lightblue::before
		background $lightblue
	&.maroon::before
		background $maroon
	&.purple::before
		background $purple
	&.black::before
		background $black
	&.white::before
		background $white
	.container
		z-index 1

.fa-soundcloud
	&:hover
		color #FF4603
.fa-facebook
	&:hover
		color #3A589E
.fa-envelope-o
	&:hover
		color #DC143C
.fa-instagram
	&:hover
		background linear-gradient(0deg, #F57A2D 0%, #D62F80 50%, #5858CA 90%)
		color #D62F80
		-webkit-background-clip text
		-webkit-text-fill-color transparent
.fa-twitter
	&:hover
		color #1DA1F2
.fa-spotify
	&:hover
		color #1ED760
.fa-link
	&:hover
		color #a8a8a8




// --- countdown timer
#countdown-timer
	.countdown-section
		margin 10px 15px
		display inline-block
		&>span
			display block
			font-size 30px
			font-weight 600
			color $white
			&.countdown-amount
				font-family $shen
				margin-bottom 25px
				font-size 60px
			// &.countdown-days
			// 	color $blue
			// &.countdown-hours
			// 	color $maroon
			// &.countdown-minutes
			// 	color $pink
			// &.countdown-seconds
			// 	color $lightblue
	@media (max-width:767px)
		.countdown-section
			margin 10px 5px
			&>span
				font-size 18px
				&.countdown-amount
					margin-bottom 5px
					font-size 30px
// -- angle classes
imgAnglesOdd()
	clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100%, 50px 100%);
	@media(max-width:992px)
		clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 100%, 25px 100%);
	@media(max-width:767px)
		clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 10px 100%);
imgAnglesEven()
	clip-path: polygon(50px 0, 100% 0, calc(100% - 50px) 100%, 0 100%);
	@media(max-width:992px)
		clip-path: polygon(25px 0, 100% 0, calc(100% - 25px) 100%, 0 100%);
	@media(max-width:767px)
		clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);

#first-section
	// padding-bottom 200px
	// padding-top 100px
	@media(max-width:992px)
		padding-bottom -100px
	@media(max-width:767px)
		padding-bottom -50px
.angle:not(.btn):not(img):not(.masonry__item):not([class*="col-"])
	clip-path: polygon(0 0, 100% 200px, 100% 100%, 0 100%);
	margin-top -200px
	padding 200px 0
	z-index 2
	position relative
	&.footer
		margin-top -200px
		padding 200px 0 50px 0
		@media(max-width:992px)
			margin-top -100px
		@media(max-width:767px)
			margin-top -50px
	@media (max-width 992px)
		clip-path: polygon(0 0, 100% 100px, 100% 100%, 0 100%);
		margin-top -100px
		padding 100px 0
		&.footer
			padding 100px 0 50px 0
	@media (max-width:767px)
		clip-path: polygon(0 0, 100% 50px, 100% 100%, 0 100%);
		margin-top -50px
		padding 75px 0
		&.footer
			padding 50px 0 25px 0
//body:not(.index)
// 	.footer.angle
// 		margin-top 0
a.btn.angle
	height: 40px
	color $gray
	width 150px
	// clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 10px 100%);
	// &:hover
	// 	clip-path: polygon(10px 0, 100% 0, calc(100% - 10px) 100%, 0 100%);
a.btn.angle:hover
	background-color $buttonPink
	border 0.5px solid $white
	color $black

#map.angle
	padding 0

img.angle
	clip-path: polygon(0 0, calc(100% - 100px) 0, 100% 100%, 100px 100%);
	padding 0 !important
	@media(max-width:992px)
		clip-path: polygon(0 0, calc(100% - 25px) 0, 100% 100%, 25px 100%);
	@media(max-width:767px)
		clip-path: polygon(0 0, calc(100% - 10px) 0, 100% 100%, 10px 100%);

.masonry__item.angle
	img
		padding 0px
.artist.angle:nth-child(odd), .masonry__item.angle:nth-child(odd)
	img.artist-photo, & > a:before, img
		imgAnglesOdd()
		transition 0.5s
	&:hover
		img.artist-photo, & > a:before, img.blog-photo
			clip-path: polygon(0 0, calc(100% - 35px) 0, 100% 100%, 35px 100%);
			transition 0.5s
			@media(max-width:992px)
				clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 15px 100%);
			@media(max-width:767px)
				clip-path: polygon(0 0, calc(100% - 5px) 0, 100% 100%, 5px 100%);

.artist.angle:nth-child(even), .masonry__item.angle:nth-child(even)
	img.artist-photo, & > a:before, img
		imgAnglesEven()
		transition 0.5s
	&:hover
		img.artist-photo, & > a:before, img.blog-photo
			clip-path: polygon(35px 0, 100% 0, calc(100% - 35px) 100%, 0 100%);
			@media(max-width:992px)
				clip-path: polygon(15px 0, 100% 0, calc(100% - 15px) 100%, 0 100%);
			@media(max-width:767px)
				clip-path: polygon(5px 0, 100% 0, calc(100% - 5px) 100%, 0 100%);
[class*="col-"].info-box
	&.angle
		padding 25px 60px
		margin-top 30px
		margin-bottom 30px
		@media(max-width:992px)
			padding 25px 30px
		@media(max-width:767px)
			display inline-block
	&.angle:nth-child(odd)
		imgAnglesOdd()
	&.angle:nth-child(even)
		imgAnglesEven()

.social_media_icons_container
	width 150px
	margin 0 auto

.social_media_icons
	display flex
	width 100%

.social_media_icons li
	font-size 25px
	padding-right 20px


//--- blog posts
.blogPost
	a
		text-decoration none
	.blog-name
		font-size 30px
		font-weight 600
		letter-spacing 2px
		@media (max-width:767px)
			font-size 24px



// --- EVENTS
#events
	.event
		.event-info
			text-align left
			h1,h2,h3,h4,h5,h6
				margin-bottom 0



.videoBackground video
	position fixed
	top 50%
	left 50%
	z-index -100
	min-width 100%
	min-height 100%
	width auto
	height auto
	-webkit-transform translate(-50%, -50%)
	-ms-transform translate(-50%, -50%)
	transform translate(-50%, -50%)




// --- misc
.hidden
	display none
.strike
	position relative
	text-decoration line-through
	// &:before
	// 	content ""
	// 	border-bottom: .15em $maroon solid
	// 	position absolute
	// 	bottom .55em
	// 	height 100%
	// 	width 5em

.col-center
	float none
	display inline-block
iframe
	min-height 100px
.masonry-filter-holder
	z-index 4 !important
	margin-bottom 50px
	.masonry__filters
		ul
			li
				color $white !important
				font-weight 700
				&:active
					color $blue
.map-container
	min-height 500px
#big-logo
	margin-top 13%
.pos-vertical-center
	@media(max-width:992px)
		top auto
		transform none
		-webkit-transform none
	@media(max-height:900px)
		top auto
		transform none
		-webkit-transform none
.height-100
	height auto
	min-height 100vh
[class*="height-"]:not(.artist-hero):not(.map-container)
	@media(max-width:992px)
		height auto
	@media(max-height:900px)
		height auto
.separator
	height 50px
	width 100%
	background-size contain
	background-image url('/img/icon/paw-white.png')
	background-repeat no-repeat
	background-position center center
	margin-bottom 25px
.x-pad
	padding-top 25px
	padding-bottom 25px
.shift-up
	position relative
	top -200px
	margin-bottom -200px
	z-index 2
	@media(max-width:992px)
		top -100px
		margin-bottom -100px
	@media(max-width:767px)
		top -50px
		margin-bottom -50px
section
	&.shift-up
		padding-top 0

button
	height 35px
	width 150px
	background-color $white
	border 0.5px solid $gray
	font-family BebasNeue
	letter-spacing 3px
	font-size 18px

button:hover
	background-color $buttonPink
	color	$black
	border-color $white


// --- artists bio page
.artist-hero
	.background-image-holder
		filter blur(10px)
.artist-social
	li
		display inline-block
		margin 0 10px
		a
			display block
			i
				font-size 35px
				color $textDefault



//--- artists section
#artists
	.artist
		&>a
			position relative
			text-decoration none
			display block
			&:before
				transition 0.5s
				content ''
				background linear-gradient(0deg, rgba(84, 48, 72,0.9) 0%, rgba(84, 48, 72,0.0) 50%)
				height 100%
				width 100%
				position absolute
				top 0
				left 0
				z-index 3
				opacity 0
		img.artist-photo
			margin-bottom 0
			position relative
			z-index 2
		.artist-name
			//position absolute
			left 0
			right 0
			color $white
			//background-color $blue
			display block
			padding 10px 5px 5px 5px
			font-size 30px
			font-weight 600
			letter-spacing 2px
			z-index 4
			transition 0.5s
			margin-bottom 0
			line-height 30px
			@media (min-width:992px)
				bottom -45px
				position absolute
			@media (max-width:767px)
				font-size 24px

		.social-media
			li
				display inline-block
				margin 0 10px
				position relative
				z-index 1
				@media (max-width:767px)
					margin 0 7px
				a
					display block
					i
						font-size 30px
						@media (max-width:992px)
							font-size 25px
						@media (max-width:767px)
							font-size 16px
			@media (min-width:992px)
				for i in  1 2 3 4 5 6
					li:nth-child({i})
						top -90px - ((i*10)/2)
						transition 0.5s + (i/10)

		&:hover
			@media (min-width:992px)
				&>a
					&:before
						transition 0.5s
						opacity 1
				.artist-name
					bottom 5px
				.social-media li
					top 10px



section.ticket-packages-container
	width 100%
	height 100%
	padding 0
	background-color $white
	border-top 15px solid $white
	border-bottom 15px solid $white

	.current-ticket-promotion, .see-all-ticket-packages
		background: rgb(135,124,180);
		background: linear-gradient(180deg, rgba(135,124,180,1) 0%, rgba(196,172,204,1) 100%);
		padding 5%

		&>h1
			font-family BebasNeue
			color $white
			letter-spacing 5px
			font-weight	100
			position relative
			top	30%

		&>p
			font-family BebasNeue
			color $white
			letter-spacing 3px
			font-weight	100
			font-size 23px
			position relative
			top	25%

		&>a>button
			position relative
			top	80px

	.current-ticket-promotion
		background: linear-gradient(180deg, rgba(237,204,225,0.5) 0%, rgba(20, 74, 173, 0.5) 100%), url('/img/bg/announcement.png')
		background-size cover
		background-color $maroon

	.current-ticket-promotion:hover
		background-image url('/img/bg/announcement.png')
		cursor pointer
		text-decoration none

	.see-all-ticket-packages
		background: rgb(73,190,227);
		background: linear-gradient(180deg, rgba(73,190,227,1) 0%, rgba(178,204,227,1) 100%);

	.vimeo-video
		background: rgb(237,204,225);
		background: linear-gradient(180deg, rgba(237,204,225,1) 0%, rgba(115,142,192,1) 100%);
		margin-top 15px

@media (min-width 0px)
	.current-ticket-promotion
		border-bottom 7.5px solid $white
		height 350px

	.see-all-ticket-packages
		border-top 7.5px solid $white
		height 350px

	.vimeo-video
		height 350px

	.vimeo-video iframe
		padding 5% 2% 5% 2%

@media (min-width 768px)
	.current-ticket-promotion
		border-bottom 0
		border-right 7.5px solid $white
		height 400px

	.see-all-ticket-packages
		border-top 0
		border-left 7.5px solid $white
		height 400px

	.vimeo-video
		height 500px


// --- header
.fa-times-thin:before
	content '\00d7'
.closeX
	color $white
	position absolute
	top 8px
	right 25px
	font-size 40px
	cursor pointer
body.index
	header:not(.sticky)
		img.logo
			display 
#menu-overlay-toggle
	display none
	height 100%
	width 100%
	position fixed
	z-index 9
	background rgba(0,0,0,0.5)
	transition 0.5s
	&.custom-toggled-class
		z-index 0
		background rgba(0,0,0,0.0)
		transition 0.5s
.dropdown__content
	border-radius 0 !important

	li
		a
			padding 20px 40px
#menu1
	width auto
	float none !important

header
	height $headerHeight
	background-color $blue
	position absolute
	z-index 10
	width 100%
	padding-top 10px
	padding-bottom 65px
	.hamburger-toggle
		display block
		position relative
		height 25px
		width 22px
		top 10px
		right 10px
		margin-left 22px
		float right
	.hamburg
		position relative
		top 12px
	.hamburg span, .hamburg span:before, .hamburg span:after
		//top 10px
		cursor pointer
		border-radius 1px
		height 2px
		width 22px
		background white
		position relative
		display block
		content ''

	.hamburg span:before
		top -8px
	.hamburg span:after
		bottom -6px
	&.sticky
		height 80px
		position fixed
		background $bluet5
		padding-bottom 80px
		a.logo
			height 70px
			.logo
				height 70px
		nav
			#mega-menu
				ul.menu-horizontal
					&>li
						@media(min-width:992px)
							line-height 40px
							&.dropdown
								top -2px

					&>li > a, &>li > span.dropdown__trigger
						@media(min-width:992px)
							line-height 80px
						.dropdown:not(.dropdown--active)
							.dropdown__container
								top 80px

	li
		font-family BebasNeue

	a.logo
		height 100px
		position absolute
		z-index 5
		top 0
		bottom 0
		margin auto
		.logo
			height 100px

	.nav-container
		height 100%

	button.ticket-button
		line-height 1px
		color #696969
		width 110px
		padding-left 5px
		border: 0.5px solid #d3d3d3;

	button.ticket-button:hover
		color $black

	.header-logo
		height 40px
		width 50px

	nav
		#mega-menu
			position relative
			//top 20px
			a, span.dropdown__trigger
				letter-spacing 2px
				text-decoration none
				text-transform uppercase
				opacity 1
				color $white
				transition .2s
				font-size 18px
				line-height inherit
				font-weight 50
				font-family BebasNeue
				padding-left 33px
				&:hover
					// color $blue
					transition .2s
			h1,h2,h3,h4,h5,h6,p
				a
					color $blue
			ul.menu-horizontal
				position relative
				//top 10px
				&>li
					line-height 50px
					display inline-block
					&.header-btn
						margin-right 0px
						margin-left 15px
					h6
						font-size 16px
					@media (max-width:992px)
						line-height 25px
						&.header-btn
							margin-top 20px
				a.btn
					padding 0 20px
			ul.menu-vertical
				display block
				li
					display block
					opacity 1
					margin 0
					a
						display block
						padding 10px
						&:hover
							background $blue
			.dropdown
				@media (max-width:992px)
					line-height 25px
					.dropdown__content
						float none !important
						li
							a
								display block
							&:not(:last-child)
								a
									border-bottom solid $blue 1px
				.dropdown__content
					background $bluet5
					float left
					position relative
					width auto
					padding 0
					z-index 10

// --- footer
ul.footer-social-icons
	li
		display inline-block
		margin 0 15px
		a
			display block
			i
				color $white
				font-size 30px


// --- queries
@media (max-width:992px)
	#menu1
		display block
		width 80vw
		right 0
		transition 0.5s
		position fixed
		height 100vh
		overflow-y auto
		transition 0.5s
		background $maroon
		top 0
		&.custom-toggled-class
			transition 0.5s
			right -80vw !important
		.container
			width auto
			padding 50px 25px 50px 0
	#menu-overlay-toggle
		display block !important
	.content
	.col-img-fix
		position relative
		min-height 300px
	#updates-section
		margin-top -25px
	header
		height 60px !important
		padding-bottom 0
		.float-left
			float left
		.float-right
			float right
		&.sticky
			padding-bottom 0
			a.logo
				height 55px
				img
					height 100% !important
		a.logo
			height 55px
			img
				height 100% !important
		.stack-interface
			margin-top 5px
		#mega-menu
			margin 0
			top 0 !important
			li
				font-size 22px
				margin 0 0 10px 0
				padding 3px 20px
		.dropdown__trigger
			font-size 15px

	.logo-mobile
		margin-left 15px !important
	.stack-menu
		margin 25px 0px 0px 0px
	ul.menu-horizontal
		li
			display block !important
			&:not(:last-child)
				margin-right 15px
			&.header-btn
				margin-left 0 !important
				
section.amenities
	background-color $white

	.amenities-block-title
		font-family BebasNeue
		letter-spacing 3px
		color $white
		position relative
		top 50%
		transform translateY(-50%)
		-webkit-transform translateY(-50%)
		-ms-transform: translateY(-50%)	

	.top-row-amenities
		.artists
			background: linear-gradient(180deg, rgba(237,204,225,0.5) 0%, rgba(20, 74, 173, 0.5) 100%), url('/img/bg/gridbox_artists.png')
			background-size cover
			&:hover
				background-image url('/img/bg/gridbox_artists.png')
				cursor pointer
				text-decoration none
			border 10px solid $white

		.music-player
			padding 0
			border 10px solid $white

	.bottom-row-amenities
		.food-drink
			background: linear-gradient(180deg, rgba(237,204,225,0.5) 0%, rgba(20, 74, 173, 0.5) 100%), url('/img/bg/gridbox_food.png')
			background-size cover
			&:hover
				background-image url('/img/bg/gridbox_food.png')
				cursor pointer
				text-decoration none
		.vip-exp
			background: linear-gradient(180deg, rgba(237,204,225,0.5) 0%, rgba(20, 74, 173, 0.5) 100%), url('/img/bg/gridbox_vip.png')
			background-size cover
			&:hover
				background-image url('/img/bg/gridbox_vip.png')
				cursor pointer
				text-decoration none
		.shop-block
			background: linear-gradient(180deg, rgba(237,204,225,0.5) 0%, rgba(20, 74, 173, 0.5) 100%), url('/img/bg/gridbox_shop.png')
			background-size cover
			background-color $maroon
			&:hover
				background-image url('/img/bg/gridbox_shop.png')
				cursor pointer
				text-decoration none

.footer
	padding-top 0
	.ticket-bar
		padding-top 20px		
		&>img 
			width 15%
		&>a>button.ga-tickets, &>a>button.vip-tickets
			width 200px

	.subscribe-bar
		height 300px
		.subscribe-bar-content
			position relative
			.col-sm-12.col-md-4
				&>.text-center
					&>div.social_media_icons_container
						width 250px
						&>ul.social_media_icons>li>a>i
							color $white
							// background-color $white
							width	35px
							height 35px
							margin 5px
						&>ul.social_media_icons>li>a>i.fa-spotify:hover
							color #1db954
						&>ul.social_media_icons>li>a>i.fa-facebook:hover
							color #3b5998
						&>ul.social_media_icons>li>a>i.fa-envelope-o:hover
							color #DC143C

@media (min-width: 20px)
	#big-logo
		max-width 75%
	section.amenities
		height 1950px
		.top-row-amenities
			height 500px
			.artists
				height 60%
			.music-player
				height 60%

		.bottom-row-amenities
			height 500px
			.food-drink
				height 60%
				border 10px solid $white
			.vip-exp
				height 60%
				border 10px solid $white
			.shop-block
				height 60%
				border 10px solid $white
	
	.poster-tickets-button
		bottom 53px

	.subscribe-bar-content
		height 150px
		&>.col-sm-12.col-md-4>.text-center>img
			display none

	.ga-tickets
		margin-bottom 30px

	.subscribe-bar-content
		top 20%

	.ticket-bar
		height 140px

	// vipExperiences
	section.vipExp-container
		height 3000px
		padding-bottom 0
		padding 10px
		.current-ticket-promotion
			margin-top -10px
		.see-all-ticket-packages
			margin-bottom 10px

	.platinum, .gold, .general
		height 34%
		&>.col-md-6>h1
			font-family BebasNeue
			color $white
			letter-spacing 3px
			font-weight 100
			text-align center
			margin-bottom 0
		&>.col-md-6>p
			color $white
			letter-spacing 2px
			font-weight 100
			padding 7%
			padding-bottom 0
			margin-bottom 0
			font-size 16px
		&>.col-md-6>ul
			padding 5%
			margin-left 5%
		&>.col-md-6>ul>li
			padding 2%
			list-style-type disc
			color $white
			font-weight 100
			font-size 15px
		&>.col-md-6>ul>a>button
			margin 0 auto
			display block
			margin-top 5%
		&>.col-md-6>ul>a:hover
			text-decoration none
		

	.platinum
		margin-top 2%
		background-color #9FCEE8
	.gold
		background-color #9FCEE8
	.general
		background-color #9FCEE8

	.platinum-vip-img
		// background url('/img/bg/gridbox_vip.png')
		margin-top 10%
		background-size cover
		height 30%
	.platinum-vip-package
		padding-bottom 10%
		&>h1
			padding-top 0
	.gold-vip-img
		background url('/img/bg/gold_vip.png')
		background-size cover
		height 30%
	.general-admission-img
		background url('/img/bg/general_admission.png')
		background-size cover
		height 30%

@media (min-width: 375px)
	section.amenities
		height 2000px

@media (min-width: 425px)
	section.amenities
		height 2050px

	.platinum, .gold, .general
		&>.col-md-6>h1
			padding-top 10%
		&>.col-md-6>p
			font-size 18px
		&>.col-md-6>ul>li
			font-size 17px

	.ticket-bar
		height 80px

	.ga-tickets
		margin-left 1%
		float left

	.vip-tickets
		margin-right 1%
		float right

@media (min-width: 500px) and (max-width: 767px)
	.ga-tickets
		margin-left 5%

	.vip-tickets
		margin-right 5%

@media (min-width: 500px)
	section.amenities
		height 2100px

@media (min-width: 550px)
	section.amenities
		height 2200px

@media (min-width: 650px)
	section.amenities
		height 2300px

@media (min-width: 768px)
	#big-logo
		max-width 45%
	section.amenities
		height 1300px
		.top-row-amenities
			height 350px
			.artists
				height 100%
				border-left 5px solid $white
			.music-player
				background-color red
				height 100%
				border-right 5px solid $white

		.bottom-row-amenities
			height 200px
			.food-drink
				height 100%
				border 5px solid $white
			.vip-exp
				height 100%
				border 5px solid $white
			.shop-block
				height 100%
				border 5px solid $white

	.poster-tickets-button
		bottom 100px

	.ticket-bar
		height 70px

	.ga-tickets
		margin-bottom 0px

	.ga-tickets
		margin-left 20%

	.vip-tickets
		margin-right 20%

	// vipExperiences
	section.vipExp-container
		margin-top 50px
		height 2500px
		background-color #9fcee8;

	section.vipExp-container
		.current-ticket-promotion
			margin-top 0px

	.platinum, .gold, .general
		height 34%
		padding 5%
		display flex
		align-items center
		flex-wrap wrap
		border-bottom 1px solid $white
		&>.col-md-6>h1
			padding-top 0
			margin-bottom initial
		&>.col-md-6>p
			font-size 15px			
		&>.col-md-6>ul
			padding-top 0
		&>.col-md-6>ul>li
			font-size 14px

	.platinum
		margin-top 2%

	.platinum-vip-img
		// background-color blue
		margin-top 0
		height 65%
	.gold-vip-img
		background-color purple
		height 65%
		position relative
		left 50%
	.gold-vip-package
		position relative
		right 50%
	.general-admission-img
		background-color red
		height 65%

@media (min-width: 990px)
	section.amenities
		height 1400px

@media (min-width: 992px)
	section.amenities
		height 1500px
	

@media (min-width: 1024px)
	section.amenities
		height 1650px
		.top-row-amenities
			height 450px
		.bottom-row-amenities
			height 250px

	.subscribe-bar-content
		&>.col-sm-12.col-md-4>.text-center>img
			display initial

	.subscribe-bar-content
		top 40%

	.platinum
		margin-top 0

	.platinum, .gold, .general
		&>.col-md-6>p
			font-size 18px
		&>.col-md-6>ul>li
			font-size 17px

	.social-block
		padding-left 10%

	.grizzlyfest-block
		padding-right 10%

	.popup
		&>iframe
			width 70vw
			height 70vh

@media (min-width: 1200px)
	section.amenities
		height 1800px

@media (min-width: 1440px)
	section.amenities
		height 1800px

@media (min-width: 1700px)
	.social-block
		padding-left 20%
	
	.grizzlyfest-block
		padding-right 20%

@media (min-width: 2000px)
	.ga-tickets
		margin-left 25%

	.vip-tickets
		margin-right 25%

	.social-block
		padding-left 25%
	
	.grizzlyfest-block
		padding-right 25%

@media (min-width: 2300px)
	.ga-tickets
		margin-left 30%

	.vip-tickets
		margin-right 30%

	.social-block
		padding-left 30%
	
	.grizzlyfest-block
		padding-right 30%

//=================================================================//
.overlay
	position absolute
	top 0
	bottom 0
	left 0
	right 0
	background rgba(0,0,0,0.5)
	transition opacity 200ms
	visibility hidden
	opacity 0

.overlay:target
	visibility visible
	opacity 1
	z-index 5000

.popup
	margin 75px auto 
	padding 20px
	background #ffffff
	border 1px solid #666666
	width 80%
	box-shadow 0 0 50px rgba(0,0,0,0.5)
	position relative

.video-title
	font-family BebasNeue
	letter-spacing 3px
	margin-top 5%

.close
	position absolute
	width 20px
	height 20px
	top 20px
	right 20px
	opacity 0.8
	transition all 200ms
	font-size 24px
	font-weight bold
	text-decoration none
	color #666666